body{
    margin: 0px;
    padding: 0px;
    background-color: #00bfff;
}
#main{
    height: 360px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px auto;
}
#title{
    text-align: center;
    font-size: 22px;
    font-family: arial;
    font-weight: 600;
    padding: 50px 0 0 0;
}
.field{
    text-align: center;
}
.field input{
    height: 40px;
    width: 300px;
    padding: 0 0 0 5px;
    margin: 30px 0 0 0;
    outline: none;
    border: 2px dashed #00bfff;
}
#btn{
    height: 40px;
    width: 100px;
    background-color: #191970;
    outline: none;
    border: none;
    color: #fff;
    font-size: 13px;
    font-family: arial;
    margin: 55px 0 0 0;
    overflow: hidden;
}
#btn:before{
    display: inline-block;
    content: 'SEND!';
    position: relative;
    top: 0%;
    left: 40%;
    transform: translate(-50%, -50%);
    -webkit-transition:all .3s;
}
#btn:hover:before{
    left: 150%;    
}
#btn:after{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('../img/airplane.png');
    content: '';
    background-size: 100%;
    position: relative;
    top: 1%;
    left: -150%;
    -webkit-transition: all .3s;
}
#btn:hover:after{
    left: -25%;
}